@page "/playGround"

@using DataAccess.Data
@using Microsoft.EntityFrameworkCore

@inject IJSRuntime JSRuntime
@inject ApplicationDbContext DbContext

<h3>Playground</h3>

<h4>BlazorJS</h4>

<div class="row">
    <button class="btn btn-secondary" @onclick="TestConfirmBox">Test Confirm Box</button>
</div>
<div class="row">
    @if (userAnswer)
    {
        <p>Its a yes</p>
    }
</div> 
<h1>Toastr js test</h1>
<p>Test git</p>
<button @onclick="() => OnSuccess(successMessage)">Gitowka</button>
<p>Test failure</p>
<button @onclick="() => OnFailure(failureMessage)">Failure</button>
<br />
<br />
<h1>Sweet alert test</h1>
<p>Test git</p>
<button @onclick="() => SwalOnSuccess(swallSuccessMessage)">Gitowka</button>
<p>Test failure</p>
<button @onclick="() => SwalOnFailure(swalFailureMessage)">Failure</button>
<br />
<h2>Test async confirmation</h2>
<button class="btn btn-success" @onclick="AskUserForConfirmation">Test</button>


@code {
    private string confirmMessage = "Are you sure you want to click?";
    private string successMessage = "gitara 123";
    private string swallSuccessMessage = "gitara 123";
    private string failureMessage = "nie jest gitara 123";
    private string swalFailureMessage = "nie jest gitara 123";
    private string swalOnClickMessage = "on click message !";
    private bool userAnswer { get; set; }

    private async Task TestConfirmBox()
    {
        userAnswer = await JSRuntime.InvokeAsync<bool>("confirm", confirmMessage);
    }

    private async Task OnSuccess(string message)
    {
        await JSRuntime.ToastrSuccess(message);
    }

    private async Task OnFailure(string message)
    {
        await JSRuntime.ToastrError(message);
    }

    private async Task SwalOnSuccess(string message)
    {
        await JSRuntime.SwalSuccessAlert(message, swalOnClickMessage);
    }

    private async Task SwalOnFailure(string message)
    {
        await JSRuntime.SwalErrorAlert(message, swalOnClickMessage);
    }

    private async Task AskUserForConfirmation()
    {
        var actionConfirmed = await JSRuntime.OverrideConfirm();

        if (actionConfirmed)
        {
            await JSRuntime.SwalSuccessAlert("No dobra", "Oki");
        }
        else
        {
            await JSRuntime.SwalErrorAlert("No dobra", "Oki");
        }
    }
}
