@page "/fetchdata"
@using HiddenVilla.Server.Pages.LearnBlazor

<p>Sending button in color @buttonColor to child</p>
<p>Change color in parent using button</p>
<button @onclick="ChangeColor">Parent button</button>

<ChildComponent>
    <buttonik>
        <button class="@buttonClass">Child button</button>
    </buttonik>
</ChildComponent>

@code {
    string buttonColor = "red";
    string buttonClass = "btn-danger";

    private void ChangeColor()
    {
        if (buttonColor.Contains("red"))
        {
            buttonColor = "blue";
            buttonClass = "btn-primary";
        }
        else
        {
            buttonColor = "red";
            buttonClass = "btn-danger"; 
        }
    }
}
