@inherits LayoutComponentBase

@using Microsoft.Extensions.Configuration
@using PocketAnalyzerServer.Pages.Shared

@inject IConfiguration Configuration

<PageTitle>PocketAnalyzerServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!string.IsNullOrWhiteSpace(appVersionText))
            {
                <p style="align-self:center">@appVersionText</p>
            }
            else
            {
                <button class="btn btn-success" @onclick="ReadVersion">Check app version</button>                
            }
        </div>
        <div class="top-row px=r">
            <LoginRegisterUser></LoginRegisterUser>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string appVersionText { get; set; }

    private void ReadVersion()
    {
        var version = Configuration["Configuration:AppVersion"];
        appVersionText = $"Current app version is : {version}";
    }
}