@page "/demoHotel"
@using HiddenVilla.Server.Model

<h3>We will display hotel rooms and amentites here!</h3>

<RoomListSecond Rooms="Rooms"></RoomListSecond>

@code {
    public List<BlazorRoom> Rooms { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Rooms = new List<BlazorRoom>
        {
            new ()
            {
                Id = 1,
                RoomName = "Pokoj Kodiego",
                IsActive = true,
                Price = 2137,
                RoomProps = new List<BlazorRoomProp>
                {
                    new() { Id=1, Name="Sq Ft", Value="100" },
                    new() { Id=2, Name="Occupancy", Value="3" },
                }
            },
            new ()
            {
                Id = 2,
                RoomName = "Pokoj Karola",
                IsActive = true,
                Price = 7312,
                RoomProps = new List<BlazorRoomProp>
                {
                    new() { Id=1, Name="Sq Ft", Value="2" },
                    new() { Id=2, Name="Occupancy", Value="200" },
                }
            },
        };
    }
}
